body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.modal {
    width: 200px;
    height: 100px;
    padding: 20px;

    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    margin: -70px 0 0 -120px;

    border: 1px solid #ccc;
    background: white;
}

/* Animation */

.modal-enter {
  opacity: 0.01;
}

.modal-enter.modal-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.modal-leave {
  opacity: 1;
}

.scopelist-leave.scopelist-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}


.scopelist-enter {
  opacity: 0.01;
}

.scopelist-enter.scopelist-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.scopelist-leave {
  opacity: 1;
}

.scopelist-leave.scopelist-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.tet{
	color:red;
}
